@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
.container{
    font-family: 'Mukta', sans-serif !important;
    /* background-color: red; */
    display: grid;
    /* justify-content: center; */
    grid-template-columns: minmax(0,1fr);
    grid-template-rows: min-content;
    gap: 1rem;
    
}
.hospital_name{
    text-transform: capitalize;
}
.card_body{
 margin: 1rem;
    border-radius: .3rem;
    padding: .5rem;
    justify-self: center;
    box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.3),0px 2px 6px rgba(0, 0, 0, 0.3);
    background: linear-gradient(45deg ,rgb(252, 192, 252),rgb(170, 245, 255));
}
.address{

    color: rgba(0, 0, 0, 0.8);
    font-size: small;
    font-weight: 600;
    text-transform: capitalize;
    width: 50%;
}
.doses{
color: rgb(0, 0, 0);
    margin-top: .5rem;
    display: flex;
    justify-content:space-between;
}
.around{
    color: rgb(0, 0, 0);
    align-items: center;
    font-weight: 800;
    border-radius: 1000px;
    padding: .1rem .6rem;
    background: rgb(255, 255, 255);
}
.district{
    font-family: 'Mukta', sans-serif !important;
    width: 90vw;
    height: 60vh;
    display: grid;
    place-content: center;
}